.searchBar__container{
    color:black
}
.searchBar__input{
    color:black
}
.searchBar__buttons{
    border:outset;
}
.searchBar__buttons__search{
    border:outset;
}
.searchBar__buttons__random{
    border:outset;
}
.searchBar__buttons__icon{
    color:black;
}