@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.searchBar{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:8px;
    margin-right: 20px;
}
.searchBarDiv{
    display: flex;
}
.input{
    font-family: 'Varela Round', sans-serif;
    height: 5vh;
    background:#629320;
    color:white;
    font:inherit;
    border:solid #222;
    border-radius:8px;
    position: relative;
    width: 20vw;
}
.input:active{
    border:black;
}
.input::-webkit-input-placeholder,.input{
    color:rgb(224, 224, 224);
    padding-left: 6px;
    font-size: 1.5rem;
    font-weight: bolder;
}
.botonBuscar,.botonRandom{
    height: 5vh;
    width: 5vh;
    background-color:#629320;
    color:rgb(247, 247, 247);
    border:solid;
    border-radius:8px;
    display: flex;
    justify-content: center;
    align-items:center;
    transition: 150ms ease-in-out all;
}
.simboloBuscar, .simboloDado{
    transform: scale(1.5);
}
.simboloBuscar{
    margin-left: -2px;
}

.botonBuscar:hover, .botonRandom:hover{
    background-color:#456817;
    border: outset greenyellow;
    cursor:pointer;
    
}
.botonBuscar:active,.botonRandom:active{
    border:inset greenyellow;
}

@media (max-width:60em) {
    .searchBar{
        margin: 0px;
    }
    
}
@media (max-width:20em) {
    .searchBar{
        flex-direction: column;
    }
    
}