@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.searchBar{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:8px;
    margin-right: 20px;
}
.input{
    font-family: 'Varela Round', sans-serif;
    height: 30px;
    background:#629320;
    color:white;
    font-size: 1.2em;
    font-weight: bolder;
    border:solid #4c6a25;
    border-radius:8px;
    position: relative;
}
.input:active{
    border:black;
}

::placeholder{
    color:rgb(224, 224, 224);
    padding-left: 6px;
}
.botonBuscar,.botonRandom{
    font-family: 'Varela Round', sans-serif;
    font-size: 1.2em;
    font-weight: bolder;
    height: 30px;
    background-color:#629320;
    color:rgb(247, 247, 247);
    border:solid;
    border-radius:8px;
    display: flex;
    justify-content: center;
    transition: 150ms ease-in-out all;
}
.simboloBuscar{
    margin-top: 3px;
    margin-left: 5px;
  
}
.simboloDado{
    padding: 2px 0 0 6px;
    -webkit-text-stroke: 2px;
}
.botonBuscar:hover, .botonRandom:hover{
    background-color:#456817;
    border: outset greenyellow;
    cursor:pointer;
    
}
.botonBuscar:active,.botonRandom:active{
    border:inset greenyellow;
}
