.searchBar__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40vw;
}

.searchBar__input,.searchBar__buttons{
    height: 50px;
}
.searchBar__input{
    font:var(--texto-botones);
    padding-left: 8px;
}
.searchBar__divButtons{
    display: flex;
}
.searchBar__buttons__search{
    border-radius: 0 8px 8px 0;
}
.searchBar__buttons__random{
    border-radius: 8px;
    margin-left: 6px;
}

.searchBar__buttons{
    padding: 30%;
    color: var(--blanco);
    background: var(--gris);
    border: var(--gris) solid;
    transition:  all ease-in-out 200ms;
}

.searchBar__buttons:hover{
    cursor: pointer;
    background:var(--negro);
    border:  outset;
}
.searchBar__buttons:active{
    border: inset;
}

.searchBar__buttons__icon{
    transform: scale(2);
}

@media (max-width: 50em) {
    .searchBar__container{
        width: 50vw;
        gap:8px
    }
   
    .searchBar__buttons__search{
        border-radius: 8px;
    }
}

@media (max-width: 40em) {
 
    
  .searchBar__input,.searchBar__buttons{
  height: 30px;
  padding: 0;
  }
  .searchBar__input{
    width:80%
  }
  .searchBar__buttons{
    width: 30px;
  }
  .searchBar__buttons__icon{
    transform: scale(1);
  }
}