.detailsCon{
    height: 100%;
    background: url(https://rare-gallery.com/thumbs/5397797-sky-stars-colours-colors-galaxy-nebula-futuristic-space-night-evening-night-sky-blue-purple-planet-astronomy-nature-universe-mist-outdoors-deep-space-creative-commons-images.jpg);
    background-repeat: no-repeat;
    background-position: fill;
    background-size: cover;
    padding:40px;
}
.detailsMain{
    background: #0a7132;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detailsInfo{
    display:flex;
    box-sizing:border-box;
    padding:5vw;
    width: 85vw;
    height: 90%;
    background: #0A0;
}
.detailsInfo img{
    margin: 20px;
    width: 40vw;
}
.detailsDatos p:nth-child(2n){
    background:#0a7132;
    width:40vw;
}