.detailsCon{
    height: 100%;
    background: url(https://rare-gallery.com/thumbs/5397797-sky-stars-colours-colors-galaxy-nebula-futuristic-space-night-evening-night-sky-blue-purple-planet-astronomy-nature-universe-mist-outdoors-deep-space-creative-commons-images.jpg);
    background-repeat: no-repeat;
    background-position: fill;
    background-size: cover;
    padding:40px;
    display: flex;
}

.detailsInfo{
    background: #0a7132;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing:border-box;
    padding:5vw;
    border:#0b5226 solid 20px;
    border-radius:20px;
    width: 85vw;
    height: 90%;
    background: #0A0;
}
.detailsImg{
    margin: 20px;
    width: 40vw;
    border-radius:50%;
    border: #222 solid 5px;
}
.detailsDatos{
    background:#0a7132;
    margin-left: -20px;
    padding-left: 20px;
}
.detailsDatos p{
    width:40vw;
    font-family: 'Manrope', sans-serif;
    font-size: 1.5em;
    color:whitesmoke;
    padding: 10px 0;
    
}
.detailsDatos p:nth-child(2n){
    background:#0a0;
    margin-left: -20px;
    padding-left: 20px;
    
}