.detailsCon{
    height: 100%;
    background: url(https://rare-gallery.com/thumbs/5397797-sky-stars-colours-colors-galaxy-nebula-futuristic-space-night-evening-night-sky-blue-purple-planet-astronomy-nature-universe-mist-outdoors-deep-space-creative-commons-images.jpg);
    background-repeat: no-repeat;
    background-position: fill;
    background-size: cover;
    padding:40px;
}
.detailsMain{
    background: #0a7132;
    height: 90vh;
    display: grid;
    place-content: center;
}
.detailsInfo{
    width: 80%;
    background: #0A0;
}