:root{
    background: url(https://rare-gallery.com/thumbs/5397797-sky-stars-colours-colors-galaxy-nebula-futuristic-space-night-evening-night-sky-blue-purple-planet-astronomy-nature-universe-mist-outdoors-deep-space-creative-commons-images.jpg);
    background-position: fill;
    background-size: cover;
}
.detailsCon{
    height: min-content;
    padding:40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.detailsImg{
    height: 30vw;
    width: 30vw;
    border-radius:50%;
    border: #222 solid 5px;
}
.detailsDatos{
    background:#0a7132;

    border:whitesmoke solid 10px;
    border-radius: 5px;
}
.detailsDatos p{
    width:40vw;
    font-family: 'Manrope', sans-serif;
    font-size: 1.5em;
    color:whitesmoke;
    padding: 0px 20px;
    line-height: 1.5;
}
.detailsDatos p:nth-child(2n){
    background:#0a0;
}