@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Varela+Round&display=swap');

.card{
    background-color: #2b733f;
    display: flex;
    flex-direction: column;
    max-width: 270px;
    position: relative;
    box-sizing: border-box;
    border-radius: 8px;
    border: solid #4c6a25 10px;
}
.link{
    text-decoration: none;
    color:inherit;
}
.nombre{
    font-family: 'Manrope', sans-serif;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
    background: #629320;
    padding: 10px 0;
}
.description, .cover p{
    font-family: 'Varela Round', sans-serif;
    font-size: 1.2em;
}
.cover p{
    padding: 80px;
    background-color:#2459338d;
}
.description{
    text-align: left;
}
.description p {
    margin:0;
    padding: 10px 15px;
}

.description p:nth-of-type(2n-1){
    background: #245933;
 }

.closeButton{
    position: absolute;
    right: 0;
    background-color:black;
    color:whitesmoke;
    border-radius: 8px;
    height: 30px;
    width: 30px;
    border:solid 2px whitesmoke;
}
.cover{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background:#55555563;
    display: none;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 16%, 87% 16%, 86% 0%);

}

.closeButton:hover{
    background-color:#555;
    cursor:pointer;
    transition: 200ms ease-in-out background-color;
}
.card:hover{
    transform: scale(1.02);
    transition: 200ms ease-out transform;
    cursor:pointer;
}
.card:hover .cover{
    display: block;
}

/* card on hover; show alternate image */