:root{
   background:#222;
  padding:0;
  margin:30px 0;
}

.App {
   text-align: center;
   display: flex;
   flex-direction: column;
   color:whitesmoke;
   
}
.banner{
   position: relative;
   display: grid;
   place-content: center;
}
picture{
   position: relative;
}
caption{
   position: absolute;
   background-color:aliceblue;
   height: 100%;
   width: 100%;

}

