:root{
   background:#222;
  padding:0;
  margin:30px 0;
}

.App {
   text-align: center;
   display: flex;
   flex-direction: column;
   color:whitesmoke;
   
}
.banner{
   position: relative;
   display: grid;
   place-content: center;
   width: 100%;
}
picture{
   height: fit-content;
}
p{
   position: absolute;
   background-color:rgba(240, 248, 255, 0.447);
   height: 100%;
   width: 100%;
   top:0;
}

