.formDiv{
    margin:40px auto;
    
    width: 33vw;
    height: 800px;
    display: flex;
    flex-flow: column wrap; 
    align-items: center;
    justify-content: space-around;
    background-color:rgba(121, 191, 107, 0.756);
    border-radius: 30px;
}
.formDiv img{
    height: 40%;
    width: 80%;
    border-radius: 2em;
    border:#222 solid 3px;
}
form, ::placeholder{
    font-family: 'Manrope', sans-serif;
    font-size: 1.5em;
    color: whitesmoke;
}
form{
    border: #222 solid 4px;
    padding:40px;
    display: flex;
    flex-flow: column wrap;
    width: 80%;
}
form input{
    height: 30px;
}

@media (max-width:600px) {
    .formDiv{
        width: 80 vw;
    }
}