.formDiv{
    margin:auto;
    width: 500px;
    height: 800px;
    display: flex;
    flex-flow: column wrap; 
    background-color:rgb(114, 132, 151);
}
.formDiv img{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border:#222 solid 8px;
}

form{
    font-family: 'Manrope', sans-serif;
    font-size: 1.5em;
}

/* @media (max-width:600px) {
    .formDiv{
        width: 80 vw;
    }
} */