.formDiv{
    margin:auto;
    width: 33vw;
    height: 800px;
    display: flex;
    flex-flow: column wrap; 
    justify-content: center;
    background-color:rgba(114, 132, 151, 0.708);
}
.formDiv img{
    width: 80%;
    height: 80%;
    border-radius: 25%;
    border:#222 solid 3px;
}

form{
    font-family: 'Manrope', sans-serif;
    font-size: 1.5em;
}

@media (max-width:600px) {
    .formDiv{
        width: 80 vw;
    }
}