.card{
    display: flex;
    background-color: #222;
    flex-direction: column;
    max-width: 250px;
    position: relative;
    padding:5px;
}
.nombre{
    font-weight: bolder;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
    background: rgb(15, 142, 6);
    padding: 15px 0;
}
.description{
    font-size: 1em;
   text-align: left;

}
.description p{
    margin:0;
    padding: 15px;
}
.description p:nth-of-type(2n){
   background:lightslategrey
}
.description p:nth-of-type(2n-1){
    background: slategray;
 }

.closeButton{
    position: absolute;
    right: 0;
    background-color:black;
    color:whitesmoke;
    border-radius: 8px;
    height: 30px;
    width: 30px;
    border:solid 2px whitesmoke;
}