.card{
    display: flex;
    max-width: 250px;
    background-color: slategray;
    flex-direction: column;
    
}
.nombre{
    font-weight: bolder;
    font-size: 1.5em;
    margin-bottom: 0;
}
.description{
    font-size: 1em;
   text-align: left;
   padding: 0 15px;
}