@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.searchBar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:8px;
    margin-right: 20px;
}
.input{
    font-family: 'Varela Round', sans-serif;
    height: 30px;
    background:#629320;
    color:white;
    font-size: 1.2em;
    font-weight: bolder;
    border:solid #4c6a25;
    border-radius:8px;
}
::placeholder{
    color:rgb(224, 224, 224);
}
.botonBuscar{
    font-family: 'Varela Round', sans-serif;
    font-size: 1.2em;
    font-weight: bolder;
    height: 30px;
    background-color:#629320;
    color:rgb(247, 247, 247);
    border:solid;
    border-radius:8px;
    display: flex;
    justify-content: center;
    width: 120px;
}
.simboloBuscar{
    margin-top: 2px;
    margin-left: 5px;
}
.botonBuscar:hover{
    background-color:#456817;
    border: double greenyellow;
    cursor:pointer;
    transition: 200ms ease-in-out all;
}