.navDiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#4c6a25;
    padding: 20px 0;
}
button{
    background-color: #629320;
    border:none;
    color:whitesmoke;
}
.logo{
    width: 10vw;
}