.navDiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#4c6a25;
    padding: 20px 0;
}
.botones{
    display: flex;
    justify-content: space-around;
    gap:2vw;
    flex-shrink: 2;
    height: 100%;
}
.botones button:first-of-type{
    background-color:#fffffff0;
}
.botones button{
    height: 100%;
    background:transparent;
    color:#00b7d4;
    font-family: 'Manrope', sans-serif;
    font-size: 2vh;
}
button:hover{
    background-color:#456817;
    border: outset greenyellow;
    cursor:pointer;
}
button:active{
    border:inset greenyellow;
}
.logo{
    width: 10vw;
}
